@font-face {
    font-family: 'SimplonBPRegular';
    url('../fonts/simplon/SimplonBPRegular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

#container-pulse-number{
    position: absolute;
    bottom: 32px;
    left: 5%;
}
#heartbeat-number {
    font-family: Simplon light;
    font-size: 66px;
    font-weight: 100;
    line-height: 40px;
}

#pulse {
    height: 100px;
    width: 100px;
}

#heartrate {
    position: absolute;
    width: 55%;
    top: 26%;
    left: 10%;
}





.vital-monitor-stats {
    position: absolute;
    left: 290px;
    bottom: 20px;
    width: 55vw;
}

.vital-monitor-stats-top {
    font-size: 15px;
    color: #515151;
}

.vital-monitor-stats-main {
    font-size: 30px;
    color: white !important;
    font-family: Simplon light;
}