@font-face {
    font-family: 'SimplonBPRegular';
    url('../fonts/simplon/SimplonBPRegular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

#container-pulse-number{
    position: absolute;
    bottom: 41px;
    left: 5%;
}
#heartbeat-number {
    font-family: Simplon light;
    font-size: 120px;
    font-weight: 100;
    line-height: 40px;
}

#pulse {
    position: absolute;
    height: 100px;
    width: 100px;
    left: 160px;
    bottom: -30px;
}

#heartrate {
    position: absolute;
    top: -60px;
    width: 100%;
    height: 100%;
    z-index: -1;
}





.vital-monitor-stats {
    position: absolute;
    right: 30px;
    bottom: 20px;
    width: 55vw;
}

.vital-monitor-stats td {
    width: 25%;
}

.vital-monitor-stats-top {
    font-size: 24px;
    color: #515151;
}

.vital-monitor-stats-main {
    font-size: 50px;
    color: white !important;
    font-family: Simplon light;
}